<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoOficina">
<head>
	<title>Novo Orçamento</title>
	<meta charset="UTF-8"/>
	
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/custom.css}"/>
	<script th:src="@{/layout/javascripts/bootstrap.min.js}"></script>
	<script th:src="@{/layout/jquery/jquery-3.2.0.js}"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
		    $("#add").click(function() {
				var total =  $("#total").val();
			    var id = $("#peca").val();
			    if(id != "Selecione a marca do veículo" ){
					    $.ajax({
			
							url: '/oficina/addPeca',
							data:{'idPeca': id},
							success: function(data){
								$("#orcamento").html("");
		
								
								$.each(data, function(i, val){
		
									$("#orcamento").prepend($("<li></li>")
										    .attr("value", val.text).text(val.nome));
									
								});
								 
							}
						});
		    	}else{
		    		$("#orcamento").html("");
				}
		    
		    });
		});
	</script>
	
	<script type="text/javascript">

		$(document).ready(function(){

			var msg = $("#message").html();
			if(msg == null){

				$("#messagePanel").removeAttr("hidden");
			}
		});

		
	</script>
	
</head>
<body>
	<section layout:fragment="conteudo">
	
	<div class="col-sm-9 col-md-10">
			
	</div>
	<div class="row"></div>
	
	<div class="col-sm-9 col-md-10">
	
	</div>
	<div class="row"></div>
	
	<div class="col-sm-9 col-md-10">
		<h1>Gerar Orçamento para o serviço</h1>
	</div>
	<div class="row"></div>
	
			<div>
			
				<div class="panel panel-default">
				  <div class="panel-heading">Peças para o serviço</div>
				  <div class="panel-body">
				    		<div class="form-group">
								<label>Modelo:</label>
								<h3 th:text="${servico.veiculo.marcaModelo.modelo}"></h3>
							</div>
						
							<div class="form-group">
								<label>Servico:</label>
								<h3 th:text="${servico.descricao}"></h3>
							</div>
							
							<div class="form-group">
								<label>Peca:</label>
								<select class="form-control" id="peca">
								<option th:each="peca : ${listaPeca}" th:value="${peca.id}" th:text="${peca.nome}"></option>
								</select>
							</div>
							
							
							<div class="row">&nbsp;</div>
								<div>
								<div ><button class="btn btn-success" id="add">adicionar</button></div>
								
								<ol id="orcamento">
									<li id="total"></li>
								</ol>
								<div>
							</div>
				  </div>	
				</div>
				
				
				
				
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Informações adicionais</h3>
				  </div>
				  <div class="panel-body">
				    <form class="form" th:action="@{gerarOrcamento(id=${servico.id})}" method="post">
					
						<div class="form-group">
							<span>Valor da mão de obra:</span>
							<input name="maoDeObra" type="text"/>
						</div>
						<div  class="form-group">
							<span>Valor do desconto:</span>
							<input name="desconto" type="text"/>
						</div>
						
						<div>
							<button class="btn btn-success">Cadastrar</button>
						</div>
				</form>
				  </div>
				</div>
		</div>
		
	</div>
	</section>
</body>
</html>